.item{
    display: flex;
    padding: 10px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 20px;
    margin-bottom: 10px;
}